<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Hello Elwood!</title>
  <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
</head>

<body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <img src="http://icons.iconarchive.com/icons/hydrattz/multipurpose-alphabet/64/Letter-E-blue-icon.png" style="padding: 0;" alt="" class="navbar-brand" />
    </div>
  </nav>
  <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
</body>
</html>
