/* This file is for your main application css. */

html {
  background: #fff;
  color: #333;
}

.navbar-brand {
  filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
}

.navbar-brand:hover {
  filter: grayscale(0.5); /* Microsoft Edge and Firefox 35+ */
  -webkit-filter: grayscale(0.5); /* Google Chrome, Safari 6+ & Opera 15+ */
}
